#todays-forecast{
    text-align: center;
    border: 1px solid blue;
    border-radius: 20px;
}
.dayBoxes{
text-align: center;
border: 1px solid aquamarine;
border-radius: 20px;
}
.heading {
text-align: center;
}