:root {
    --dark-blue : #05668D;
    --medium-blue: #4593AA;
    --light-blue: #84C0C6;
    --grey-blue: #7BA2B6;
    --mint-blue: #BAE1E5;
    --pale-pink: #F1DEDE;
    --med-pink: #D9A698;
    --pink-brown: #C06E52;
}
#todays-forecast{
    text-align: center;
    border: 1px solid var(--light-blue);
    border-radius: 20px;
    background-color: var(--mint-blue);
}
#today-forecast-container {
    border: none;
}
.dayBoxes{
text-align: center;
border: 1px solid var(--medium-blue);
border-radius: 20px;
background-color: var(--light-blue);
margin: 25px;
}
.heading {
text-align: center;
margin-top: 30px;
}
.history-btns {
    border-radius: 30px;
}
#search-btn {
    border-radius: 30px;
    background-color: var(--dark-blue);
}
#search-btn:hover {
    background-color: var(--pink-brown);
}
#search-box {
    background-color: var(--pale-pink);
}
#search-input {
    padding-right: 20px;
}
#nav {
    background-color: var(--dark-blue);
    margin-bottom: 20px;
}
#nav-text {
    color: white;
}
